:root{
    --color1: #d90368;
    --color2: #639AA6;
    --color3: #306073;
    --color4: #F2F0EB;
    --color5: #96cfdb;
    --color6: #d49696;
    --color7: #6F38C5;
    --color8: #87A2FB;
    --color9: #ADDDD0;
    --color10: #EEEEEE;
}

body{
    background-color: var(--color5);
    font-family: "Poppins", sans-serif;
}

h1{
    font-weight: bolder;
    color: var(--color1);
}
.banner{
    background-color: var(--color2);
    display: flex;
    justify-content: space-between;
    padding: 4rem;
}

.flecha{
    width: 5em;
    color: var(--color4);
}


.flecha:hover{
background-color: var(--color3);
}

nav.navbar{
    background-color: var(--color3) !important;
}

nav li{
    padding: 0rem 1rem;
}

.nav-link{
    border: solid var(--color4) 0.17em;
    color: var(--color4);
    border-radius: 10%;
    font-weight:600;
}

.navbar-brand{
padding:0em 2em;
}

.card-title{
    font-weight:bolder;
}
.btn-outline-light{
    width: 2.5em;
    border-radius: 50%;
}

.contacto{
    min-width: 25em;
}

table{
    border-color: var(--color3) !important;
}
th{
  font-style:italic;
  font-weight: normal;
}

.tabla-titulo{
    font-weight: bolder;
    background-color: var(--color3) !important;
    color: var(--color4);
}

.card .btn{
    background-color: var(--color2) ;
}

footer{
    background-color: var(--color3);
}

